fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
pydantic
pydantic[email]
pydantic-core
python-dotenv==1.0.0
sqlalchemy==2.0.41
psycopg2-binary==2.9.10
python-jose[cryptography]==3.3.0
alembic==1.13.1
passlib[bcrypt]==1.7.4
bcrypt==4.1.2

langchain
langchain-openai
anthropic
langchain-community
openai

google-search-results
google-api-python-client